<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.legat.authors">

    <application>
        <activity android:name=".ui.DetailActivity"/>
        <activity android:name="cz.legat.authors.ui.filter.FilterActivity"/>
    </application>

</manifest>